<div *ngIf="!authService.isAuthorized">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <input formControlName="username" placeholder="Username" required/>
    <input formControlName="password" placeholder="Password" required/>
    <button type="submit" [disabled]="!userForm.valid">login</button>
  </form>
</div>

<button *ngIf="authService.isAuthorized && !authService.isRefreshInProgress" (click)="refresh()" >Refresh</button>
<button *ngIf="authService.isAuthorized && !authService.isRefreshInProgress" (click)="logout()" >Logout</button>
